# .gitignore for Vite/Vue frontend

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
.pnp
.pnp.js

# Vite build output
dist/
dist-ssr/

# IDE and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store

# Sensitive Information
# 绝对不要上传 .env 文件！
.env
.env.*
!/.env.example